/**
 * This SCSS file has to be converted to CSS for the browser.
 * The following command will output the CSS as css/style.css:
 * node-sass --watch scss/style.scss --output css --output-style compressed --source-map true
 */

html, body {
  height: 100%;
}

body {
  margin: 0;
}

.kamer {
  height: 100%;
}

svg {
  display: block;
  height: 100%;
  width: 100%;
}

#Vaas:hover {
	ellipse {
		fill: #4B0082;
	}

	path {
		fill:#9932CC;
	}
}

#Kopjes:hover path {
  fill: green;
}

#Kopjes:hover ellipse {
  fill: darkgreen;
}

.plant__blaadjes:hover {
  transform-origin: center;
  animation: sway 1s infinite;
}

@keyframes sway {
  0% {
    transform: skew(0deg);
  }
  25% {
    transform: skew(-10deg);
  }
  45% {
    transform: skew(-12deg);
  }
  75% {
    transform: skew(-10deg);
  }
  95% {
    transform: skew(2deg);
  }
  100% {
    transform: skew(0deg);
  }
}
