/**
 * This SCSS file has to be converted to CSS for the browser.
 * The following command will output the CSS as css/style.css:
 * node-sass --watch scss/style.scss --output css --output-style compressed --source-map true
 */

html, body {
  height: 100%;
}

body {
  margin: 0;
}

.kamer {
  height: 100%;
}

svg {
  display: block;
  height: 100%;
  width: 100%;
}

#Vaas:hover {
	ellipse {
		fill: #cc6373;
	}

	path {
		fill:#ea95a2;
	}
}

#Kopjes:hover path {
  fill: #78bf79;
}

#Kopjes:hover ellipse {
  fill: #499c4b;
}

#TV:hover {
  #tvaan {
    display: block;
  }
}

#tvaan {
  display: none;
  transform: translate(78.6%, 29.9%);
}

.plant__blaadjes:hover {
  transform-origin: center;
  animation: sway 1s infinite;
}

@keyframes sway {
  0% {
    transform: skew(0deg);
  }
  11% {
    transform: skew(-5deg);
  }
  25% {
    transform: skew(-8deg);
  }
  45% {
    transform: skew(-7deg);
  }
  75% {
    transform: skew(-9deg);
  }
  95% {
    transform: skew(-2deg);
  }
  100% {
    transform: skew(0deg);
  }
}

#Schilderij:hover {
  transform-origin: top;
  animation: swing 1.5s ease-in infinite;
}

@keyframes swing {
0% {
  transform: rotate(5deg);
}
100% {
  transform: rotate(-5deg);
}
}

#Vuur {
  transform-origin: center;
  transform: translate(45.9%, 40%);
}

#Openhaard:hover {
  #Vuur{
    animation: fire 1.5s forwards;
  }
}

@keyframes fire {
  0% {
    transform: translate(45.9%, 40%) scale(1);
  }

  100% {
    transform: translate(45.9%, 40%) scale(1.1);
  }
}
  
  #Doos {
    transform: translate(26%, 66%);
}

  #Doos:hover {
     .bovenkant {
    animation: up 1.5s forwards;
  }
}

  @keyframes up {
    0% {
     transform: translate(0%, 0%);
    }
    100% {
      transform: translate(0%, -5%);
    }
  }
    