html, body {
  height: 100%;
}

body { 
  margin: 0;
}

.kamer {
  height: 100%;
}

svg {
  display: block;
  height: 100%;
  width: 100%;
}


#Vaas:hover path { 
  fill:#9932CC;
}

#Vaas:hover ellipse {
  fill: #4B0082;
}

#Kopjes:hover path {
  fill: green;
}

#Kopjes:hover ellipse {
  fill: darkgreen;
}




